body {
    background-color: floralwhite;
    font-family: 'Viaoda Libre', cursive;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}


h1 {
    color: darkorange;
    font-family: 'Viaoda Libre', cursive;
    line-height: 80px;
    font-size: 400%;
    max-width: 500px;
}

p {
    font-family: 'Viaoda Libre', cursive;
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 30px;
    position: absolute;
    color: darkorange;
    max-width: 500px;
}

.ways {
    position: absolute;
    left: 670px;
}

a {
    font-family: 'Dosis', sans-serif;
    color: floralwhite;
    font-size: 20px;
    font-style: normal;
    margin: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-color: darkorange;
}

.two {
    color: darkorange;
    background-color: floralwhite;
}

a:hover {
    color: darkorange;
    font-style: italic;
    background-color: floralwhite;
}

.hack {
    max-width: 650px;
    position: absolute;
    left: 650px;
    top: 100px;
}

.onepiece {
    max-width: 600px;
    position: absolute;
    left: 600px;
    top: 340px;
}

.home {
    font-size: 15px;
    float: right;
    margin-top: 500px;
    margin-right: 135px;
    margin-bottom: 40px;
}
